version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: deepface
      POSTGRES_PASSWORD: deepface
      POSTGRES_DB: deepface_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
